@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (max-width: 1320px){
*{
    font-family: 'Urbanist', sans-serif;;
}
.inputholder{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#dark{
    background-color: black;
}
html{
    overflow-x: hidden;
}
div.inputbox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.closeinput{
    text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
}
.alerter{
    animation-duration: 0.5s;
}
.signleft{
    background: url("https://images.rawpixel.com/image_600/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExNDItMDA2Yy14LmpwZw.jpg");
    background-size: cover;
}
.signRight{
    background-color: #fdf4e4;
}
.success{
    animation-duration: 1s;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

}
@media (max-width: 480px){
    .subtitle{
        font-size: 1.5rem !important; 
    }
    .title{
        font-size: 4.5rem !important;
    }
    .cardbody{
        width:47% !important;
        height:25vh !important;
        margin: 0 !important;
    }
    .cardbodybig{
        width:100vw !important;
        margin: 0 !important;
        height: 100vh !important;
        position: fixed !important;
        top:0 !important;
        left:0 !important;
        padding: 10px !important;
    }
    .successalert{
        left: 20% !important;
    }
    .signinpage{
        flex-direction: column-reverse !important;
        height:100vh !important
    }
    .signleft{
        width: 100vw !important;
        height: 50vh;
        display: none;
    }
    .signRight{
        width:100vw !important;
        height: 100vh !important;
        background: url("https://images.rawpixel.com/image_600/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExNDItMDA2Yy14LmpwZw.jpg")!important;
    }
    .minisub{
        display:none !important;
    }
    .studyguy{
        height:50vh !important
    }
    .signtitle{
        color: white !important;
        text-shadow: 1px 1px 3px black !important;
        text-align: center !important;
    }
    .logo{
        text-shadow: 1px 1px 3px black !important;
        color: white !important;
    }
    .signsubtit{
        color: white !important;
        text-shadow: 1px 1px 3px black !important;
        text-align: center !important;
    }
    .cardsignin{
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
        backdrop-filter: blur( 4px ) !important;
        -webkit-backdrop-filter: blur( 4px ) !important;
        border-radius: 10px !important;
        border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
        width: 90vw !important;
    }
    .or{
        color: white !important;
        text-shadow: 1px 1px 3px black !important;
    }
    .closeinput{
        top:80px !important
    }
    .deleterfull{
        right:10px !important;
        margin: 0 !important;
    }
    .logobig{
        margin:10px !important
    }
    .btnhandler{
        right:15px !important;
        bottom: 15px !important; 
    }
    .delshort{
        font-size: 25px !important
    }
    .cardtitle{
        font-size: 40px !important;
    }
    .carddesc{
        font-size: 20px !important;
    }
}
